certifi==2022.12.7
chardet==3.0.4
DateTime==4.2
idna==2.6
psycopg2==2.7.3.2
pyTelegramBotAPI==2.2.3
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
vk==2.0.2
zope.interface==4.4.3
